<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center>
    <h2>EMPLOYEE LOGIN </h2>
<form action = "http://localhost:5000/Checkemplogin" method = "POST">
    <table>
   <tr>
       <td>Name</td>
       <td><input type = "text" name = "ename" ></td>
   </tr>
    <tr>
        <td>Password</td> <td><input type = "text" name = "psd" ></td>
    </tr>
        <tr>
            <td><input type = "submit" value = "submit" ></td></tr>
        </table>
</form>

</center>
</body>
</html>